/* En este caso el root es una especie de variable donde declaras los colores mas usados */
:root{
    --color-primario:#9dab34;
    --color-secundario:#63b397;
    --color-input: #a2e5d2;
    --bg: #fffab3;
    --text-size: 1.5rem;
    /* La medida rem especifica el tamaño de fuente con respecto al padre, en este caso BODY */
    --color-text: #2c2321;

}

/* Quecar por que los iconos de boostrap no funcionan */

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:var(--bg);
    /* Recuerda que en el backgraund se puede tener un gradiente var(--bg) */
    height: 100vh;
    color: var(--color-text);
    display: flex;
    justify-content: center;
}

.container{
max-width: 80%;
   width: 400px;
   height: 600px;
   margin: 100px auto;
   background-color: var(--color-secundario);
   border-radius: 20px;
   }

.encabezdo{
    padding: 10px 0 5px 0;

}
.agregar{
    background-color: var(--color-input);
    border-radius:15px;
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 70px;
}
.agregar input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    background-color: var(--color-secundario);
    padding-left: 10px;

}

#input::placeholder{
    font-size: 1.1rem;
    color: var(--color-text)
}
.agregar i{
    font-size: 45px;
    color: var(--color-primario);

}

.agregar i:hover{
   transform: scale(1.1);
   /* Cambia el tamaño del boton cuando se posa el cursor ccsobre el */
   cursor: pointer;

}

/* SECCION TAREAS  */
.tareas h2{
    margin-bottom: 20px;
}

.tareas-pendientes{
    font-size: 25px;

}

.tareas li{
    background-color: var(--color-text);
    border-radius: 15px;
    padding: 10px;
    color:var(--color-input);
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tareas i:hover{
    color: var(--color-primario) ;
}

.tachado{
    text-decoration: line-through;
    color: var(--color-secundario);
}
